.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card {
    padding: 10px;
    background-color: deepskyblue;
    border-radius: 5px;
    text-align: center;
}

@media screen and (min-width: 600px) {
    .container {
        flex-direction: row;
    }
}